@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 130%;
  font-weight: 400;
  letter-spacing: -0.2px;
  font-size: 16px;

  background: rgb(255, 255, 255);
  color: rgb(41, 4, 2);

  margin: 0px;
  box-sizing: border-box;
  text-size-adjust: 100%;


  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url(http://www.satispay.com/static/webfonts/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZ9hiA.woff2) format("woff2")
}

@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url(http://www.satispay.com/static/webfonts/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZ9hjg.woff) format("woff")
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  appearance: button;
}

button,
select {
  text-transform: none;
}

.mainbtn {
  --bg-color: #ff3d00;
  --color: #ffffff;
  --border: none;
  border: var(--border);
  border-radius: 0.7rem;
  padding: 0.4rem 1rem;
  transition-property: background-color, color, border-color;
  transition-duration: 200ms;
  color: var(--color);
  background-color: var(--bg-color);
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  white-space: nowrap;
}

p {
  line-height: 130%;
  letter-spacing: -0.18px;
  margin-top: 0px;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: rgb(41, 4, 2);
}

a:hover {
  text-decoration: underline;
}

a:focus,
a:hover {
  outline: none;
  color: rgb(255, 61, 0);
}

ol,
ul,
dl {
  margin-top: 0px;
  margin-bottom: 1rem;
}

body[data-scroll-locked] {
  overflow: hidden !important;
  overscroll-behavior: contain;
  position: relative !important;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  margin-left: 0;
  margin-top: 0;
  margin-right: 0px !important;
}