@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 130%;
  font-weight: 400;
  letter-spacing: -0.2px;
  font-size: 16px;

  background: #fff5ea;
  color: rgb(41, 4, 2);

  margin: 0px;
  box-sizing: border-box;
  text-size-adjust: 100%;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  appearance: button;
}

button,
select {
  text-transform: none;
}

.mainbtn {
  --bg-color: #e95f3b;
  --color: #ffffff;
  --border: none;
  border: var(--border);
  border-radius: 0.4rem;
  padding: 0.4rem 0.6rem;
  transition-property: background-color, color, border-color;
  transition-duration: 200ms;
  color: var(--color);
  background-color: var(--bg-color);
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  font-size: 0.95rem;
  letter-spacing: 0.01rem;
  line-height: 1rem;
  font-weight: 300;
  white-space: nowrap;
}

p {
  line-height: 130%;
  letter-spacing: -0.18px;
  margin-top: 0px;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: rgb(41, 4, 2);
}

a:hover {
  text-decoration: underline;
}

a:focus,
a:hover {
  outline: none;
  color: rgb(255, 61, 0);
}

ol,
ul,
dl {
  margin-top: 0px;
  margin-bottom: 1rem;
}

body[data-scroll-locked] {
  overflow: hidden !important;
  overscroll-behavior: contain;
  position: relative !important;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  margin-left: 0;
  margin-top: 0;
  margin-right: 0px !important;
}

.wrapper {
  position: sticky;
  display: flex;
  top: 0px;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 1.5rem;
  padding: 0px;
  z-index: 1100;
}

.wrapper-inside {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  align-items: stretch;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 12px;
}

.logo-ctn {
  display: block;
}

.logo-wrapper {
  display: inline-flex;
  margin: 0.7rem 0px;
  height: 30px;
  color: rgb(41, 4, 2);
  text-decoration: underline;
}

.menu-ctn {
  list-style: none;
  flex-direction: column;
  margin-left: auto;
  margin-bottom: 0px;
  padding-left: 0px;
  -webkit-box-align: center;
  align-items: center;
  display: none;
}

.menu-item,
.menu-item a {
  color: rgb(41, 4, 2);
  text-decoration: none;
}

.menu-item {
  position: relative;
  display: block;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.3rem 0.7rem;
}

.menu-divider {
  display: none;
  width: 1px;
  background-color: rgb(222, 222, 222);
  height: 25px;
  margin: 0.3rem 0.7rem;
}

.menu-btn {
  border: none;
  background: transparent;
  color: rgb(0, 0, 0);
  padding-inline: 1rem;
}

@media (prefers-reduced-motion: no-preference) {
  .wrapper {
    transition-property: transform, box-shadow;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
  }
}

@media (min-width: 576px) {
  .wrapper-inside {
    width: 540px;
  }
}
@media (min-width: 768px) {
  .wrapper {
    padding: 0.5rem 1rem;
  }
  .wrapper-inside {
    width: 720px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
@media (min-width: 992px) {
  .wrapper-inside {
    flex-wrap: nowrap;
    width: 960px;
  }
  .logo-ctn {
    display: block;
    align-self: center;
  }
  .menu-ctn {
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
  }
  .menu-divider {
    display: block;
  }
  .menu-last {
    display: block;
    align-self: center;
  }
  .menu-btn {
    display: none;
  }
}
@media (min-width: 1200px) {
  .menu-item {
    padding: 0.7rem 1rem;
  }
  .menu-divider {
    margin: 0.7rem 1rem;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1200;
}

.modal-content {
  background: white;
  padding: 1.4rem;
  border-radius: 0.5rem;
  position: relative;
  max-width: 90%;
  max-height: 90vh;
  overflow-y: auto;
}

.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: none;
  background: transparent;
  font-size: 1.5rem;
  cursor: pointer;
}
